<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Weblog {% block title %}{% endblock %}</title>
    <style type="text/css">
        #header {
            width: 800px;
            margin: 0 20px 1em 20px;
            border-bottom: 1px solid #ccc;
        }
        #content {
            width: 550px;
            margin: 0 20px;
            float: left;
        }
        #sidebar {
            width: 230px;
            float: left;
        }
    </style>
</head>
<body class="{% block bodyclass %}{% endblock %}">
    <div id="header">
        <h1 id="branding">Weblog</h1>
    </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    <div id="sidebar">
        <h2>Navigation</h2>
        <ul id="main-nav">
        </ul>
    </div>
    
</body>
</html>
